.container {
    background-color: var(--background-color);
    width: 100vw;
    margin: (50vw - 50%);
    padding-bottom: 32px;
}

.list{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;
    border: 1px solid regba(0, 0, 0, 0.5);
    margin: 0;
    align-items: center;
    justify-content: center;
}

.listItem{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #2c2c2c;
    box-shadow: #000000 0px 10px 15px;
    transition: 0.5s ease;
}

.listItem:hover{
    background-color: #3c3c3c;
    box-shadow: #000000 0px 15px 20px;
    transform: translateY(-5px);
    cursor: pointer;
}

.listItemName{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.listItemLanguage{
    font-size: 0.9rem;
    color: var(--secondary-color);
}

.listItemLink{
    font-size: 0.9rem;
    color: var(--background-color);
    text-decoration: none;
}
.inputNomeUsuario {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    text-align: center;
    width: 300px;
    font-size: large;
    padding: 10px;
    margin: 24px;
    border-radius: 10px;
    border: 1px solid var(--primary-color) 0.4;
    box-shadow: var(--primary-color) 10px 8px 34px;
}

.titles {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}

.tituloNomeUsuario {
    margin: 16px 0;
    text-decoration: underline;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-align: center;
}