*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #474747;
    --secondary-color: #ffffff;
    --background-color: #fff128;
    --link-color: #bbb018;
    --secondary-bg: #5f5f5f;
}