*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1f1f1f;
    --secondary-color: #ffffff;
    --background-color: #fff128;
    --link-color: #bbb018;
    --secondary-bg: #3d3d3d;
}